table {
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction:column;
    
    min-width: 300px;
    width:60%;
    

  }
  ::placeholder {
    color: blue;
    
  }
  
  .example-header {
    min-height: 64px;
    padding-left: 35%;
    max-width: 30%;
    align-items: center;
    position: relative;
    display:flex;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-id {
      flex: 0 0 50px;
  }
  